.bb-dialog-mask {
    @import "~bootstrap/scss/mixins";
    @import "~bootstrap/scss/functions";
    @import "~bootstrap/scss/variables";
    @import '~bootstrap/scss/buttons';
    @import "~bootstrap/scss/utilities";
    @import "~bootstrap/scss/input-group";
    @import "~bootstrap/scss/forms";

    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: table;
    transition: opacity .3s ease;
    &:after {
        content: "";
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }

    .btn {
        border-radius: 0 !important;
    }
}

.bb-dialog-wrapper {
    display: table-cell;
    vertical-align: middle;

    .bb-dialog-container {
        width: 500px;
        margin: 0px auto;
        padding: 50px;
        background-color: #fff;
        border-radius: 5px;
        transition: all .3s ease;
        position: relative;
        box-shadow: 0 0 0 1px rgb(64 87 109 / 7%), 0 2px 18px rgb(47 64 80 / 25%);

        .bb-dialog-header {
            text-align: center;

            h3 {
                margin: 0;
                color: #888;
                font-size: 1.75rem;
                font-weight: bold;
            }

            .bb-dialog-close {
                position: absolute;
                right: 25px;
                top: 15px;
            }
        }

        .bb-dialog-footer {
            overflow: hidden;
        }

        .bb-dialog-body {
            margin: 20px 0;

            h6 {
                font-size: 20px;
                margin: 0;
            }

            .input-group {
                .form-control {
                    border-color: #eaedf2;
                    border-left: 0;
                    box-shadow: none !important;
                }

                .input-group-text {
                    background-color: #fff;
                    border: .0625rem solid #eaedf2;
                }
            }


        }

        .bb-dialog-default-button {
            float: right;
        }

        .bb-dialog-loading {
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            width: 100%;
            top: 0;
            height: 100%;
            left: 0;
        }
    }
    .bb-comment-login-with-guards {
        .guards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .item {
                padding: 0 5px;
                cursor: pointer;
                flex: 0 0 auto;
                width: 190px;
                margin-bottom: 10px;

                .content {
                    white-space: nowrap !important;
                    overflow: hidden;

                    .avatar {
                        width: 30px;
                    }
                }
            }
        }
    }
}

.bb-dialog-enter, .bb-dialog-leave {
    opacity: 0;
}

.bb-dialog-enter .bb-dialog-container,
.bb-dialog-leave .bb-dialog-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


body.bb-dialog-shown {

    & > *:not(.bb-dialog-mask) {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }
}
